# Base patterns from .gitignore
work/
work*
results/
results*
.nextflow/
.nextflow*
**/__pycache__/
data/
data*/
data*
.trash/
.env

# Explicitly ignore results inside the workflow directory
md_workflow/results*/
md_workflow/work/

# Ignore everything in the workflow data directory
# md_workflow/data/*
#
# # Allow only these specific files
# !md_workflow/data/6NJS-1.json
# !md_workflow/data/6NJS-2.json
# !md_workflow/data/6NJS.pdb
# !md_workflow/data/smoke_test.json
# !md_workflow/data/ligand_6NJS_ref.pdb
# !md_workflow/data/5TBM-1.json
# !md_workflow/data/5TBM-2.json
# !md_workflow/data/5TBM.pdb
#
# # Allow the leads directory but ignore its contents by default
# !md_workflow/data/leads/
# md_workflow/data/leads/*
#
# # Allow only the two specific ligands required for 6NJS
# !md_workflow/data/leads/6NJS_COMBINED-SCREENED-MOLECULES-35019-LOW_27420.pdbqt
# !md_workflow/data/leads/6NJS_COMBINED-SCREENED-MOLECULES-35019-LOW_27587.pdbqt
# !md_workflow/data/leads/5TBM_COMBINED-SCREENED-MOLECULES-35019-LOW_27420.pdbqt
# !md_workflow/data/leads/5TBM_COMBINED-SCREENED-MOLECULES-35019-LOW_27587.pdbqt
!md_workflow/data/*
