docker {
    enabled = true
}
params {
    outdir = 'results'
    skip_download = true
    receptor = 'data/protein5TBM_prepared.pdbqt'
    override = false // overwrites if same file docked before otherwise skips.
    exhaustiveness = 8
    center_x = 24.27
    center_y = -0.31
    center_z = -10.55
    size_x = 10.0
    size_y = 10.0
    size_z = 10.0
    num_modes = 9
    energy_range = 3.0
    thread_size = 1000
    use_gpu = true
}

process {
    withName: DOCKING_GPU {
        container = 'quickvina-gpu:latest'
        containerOptions = '--gpus all --env NVIDIA_DRIVER_CAPABILITIES=compute,utility --shm-size=2g'
    }
}
