docker.enabled = true

params {
    // --- General Options ---
    outdir            = 'results'
    prefix            = 'run1'
    help              = false

    // --- Input Options ---
    // Path to the receptor file (PDB, PDBQT, etc.)
    receptor          = 'data/hif2a_temiz.pdbqt'
    
    // Path to ligand file(s). Can be a single file or a glob pattern in quotes.
    // Supported formats: .smi, .smiles, .sdf, .pdb, .pdbqt
    ligands           = ''
    
    // If true, the pipeline will skip ZINC downloading and expect local files via --ligands
    skip_download     = false
    
    // ZINC downloader links file
    links_file        = 'data/ZINC-downloader-2D-txt.uri'

    // --- Preparation Options ---
    // Number of lines per chunk when splitting large SMILES/SDF files for parallel preparation
    chunk_size        = 200
    prepare_timeout   = '60m'
    
    // Set to true if the input is a single-ligand PDBQT file that doesn't need splitting
    one_pdbqt         = false

    // --- Docking Configuration (Vina/QuickVina) ---
    use_gpu           = false
    exhaustiveness    = 8
    num_modes         = 9
    energy_range      = 3.0
    
    // Grid Box Center
    center_x          = -13.02726936340332
    center_y          = -22.765233993530273
    center_z          = 21.719926834106445
    
    // Grid Box Size
    size_x            = 20.0
    size_y            = 20.0
    size_z            = 20.0

    // --- GPU Specific Options ---
    // Number of ligands to batch together per GPU task
    collate_size      = 100
    // Thread size for QuickVina-GPU
    thread_size       = 8000

    // Number of CPUs for parallel filtering scripts
    filtering_cpus    = 4

    // --- Filtering & Analysis ---
    // Set to true to run the pre-docking filtering (Rules + PAINS)
    prefilter         = false
    // Set to true to run the post-docking analysis workflow
    run_filtering     = false
    // Path to the TOML file defining chemical/ADME filtering rules
    rules_file        = 'scripts/rules.toml'

    // --- Miscellaneous ---
    // If true, existing result files in the output directory will be overwritten
    override          = false
    // If true, final analysis results will be compressed (gzip)
    compress_results  = false

    // --- MD Simulation parameters ---
    run_md            = false
    total_ligands     = 10
    md_config         = 'md_workflow/config.json'
    md_container      = 'nvcr.io/hpc/gromacs:2023.2'
    md_conda          = "${baseDir}/src/md_workflow/md_environment.yml"
    md_cpus           = 4
    md_use_gpu        = true
    md_steps          = 0
}

process {
    // Specific resource limits or strategies per process can be defined here
    withName: DOWNLOAD_SMILES {
        maxForks = 1
        maxRetries = 5
        errorStrategy = 'retry'
    }
    
    withName: DOWNLOAD_PDBQT_AND_UNZIP {
        maxForks = 1
        maxRetries = 5
        errorStrategy = 'retry'
    }

    // Example of setting resources for docking
    withName: DOCKING {
        cpus = 1
        memory = '2 GB'
    }
}

// Profiles for different execution environments
profiles {
    standard {
        docker.enabled = true
        conda.enabled = true
    }
    conda {
        conda.enabled = true
        docker.enabled = false
    }
    local {
        docker.enabled = false
        conda.enabled = false
    }
    slurm {
        process.executor = 'slurm'
        docker.enabled = true
    }
}
