process {
    withName: DOWNLOAD_AND_CHUNK {
        maxForks = 1        // Only one download at a time
        maxRetries = 5      // Retry if we get a 503
        errorStrategy = 'retry'
    }
    // withName: DOCKING {
    //     maxForks = 8        // Use 8 cores for the actual math
    // }
    withName: CONVERT_SMILES {
        cpus = 4
        maxForks = 8
    }
}

logging.level.nextflow.processor.TaskProcessor = 'WARN'
logging.level.nextflow.Session = 'WARN'

executor {
    name = 'local'
    cpus = 12
    memory = '8 GB'
}

env {
    OMP_NUM_THREADS = '2'
    OPENBLAS_NUM_THREADS = '2'
    MKL_NUM_THREADS = '2'
}
