docker.enabled = true
process {
    withName: DOCKING_GPU {
        container = 'quickvina-gpu'
        maxForks = 16
        cpus = 16
        memory = '12 GB'
      }
}
params {
    outdir = 'results-6NJS'
    skip_download = true
    override = false // overwrites if same file docked before otherwise skips.
    exhaustiveness = 8
    center_x = 13.028
    center_y = 55.637
    center_z = 0.250
    size_x = 10.0
    size_y = 10.0
    size_z = 10.0
    num_modes = 9
    energy_range = 3.0
    thread_size = 1000
    collate_size = 3750
    use_gpu = true
    ligands = "results/prefiltereds/6000.smi"
    receptor = "data/protein_6NJS_prepared.pdbqt"
    rules_file = "scripts/rules.toml"
    run_filtering = true
    prefilter = false
    prepare_timeout = '5m'
}
