docker.enabled = true
process {
    withName: DOCKING_GPU {
        container = "ghcr.io/jsphu/docking_pipeline/quickvina-gpu:latest"
        maxForks = 16
        cpus = 16
        memory = '12 GB'
      }
}
params {
    outdir = 'results-6NJS'
    skip_download = true
    override = false // overwrites if same file docked before otherwise skips.
    exhaustiveness = 32
    center_x = 13.028
    center_y = 55.637
    center_z = 0.250
    size_x = 25.0
    size_y = 25.0
    size_z = 25.0
    num_modes = 9
    energy_range = 3.0
    thread_size = 1000
    collate_size = 1000
    use_gpu = true
}
// total: 164791 ligands found
// counted 2	from ./IMiD_lib_Mdm2.pdbqt
// counted 26	from ./IMiD_lib_Cereblon.pdbqt
// counted 33	from ./IMiD_lib_Ubr1.pdbqt
// counted 78	from ./IMiD_lib_VHL.pdbqt
// counted 242	from ./IMiD_lib_cIAP1.pdbqt
// counted 374	from ./Natural_374.pdbqt
// counted 789	from ./IMiD_lib_Iap.pdbqt
// counted 830	from ./IMiD_lib_RNF4.pdbqt
// counted 2000	from ./IMiD_lib_2000.pdbqt
// counted 5636	from ./Natural_compounds_4947.pdbqt
// counted 5886	from ./Download_SDF_SH2PTB_Focused_Library_5886.pdbqt
// counted 10440	from ./Download_SDF_SH2_Library_10440.pdbqt
// counted 18468	from ./Natural_Product_Based_Library_18468.pdbqt
// counted 23432	from ./CNS_BBB_23432.pdbqt
// counted 35019	from ./combined_screened_molecules_35019_low.pdbqt
// counted 61538	from ./Anticancer-Library-61538.pdbqt
