docker.enabled = true

params {
    outdir = 'results'
    links_file = '../data/ZINC-downloader-2D-txt.uri'

    // --- 2D (SMILES) options ---
    chunk_size = 2 // Minimum 2 for splitting, adjust based on your needs and resources

    // --- 3D (PDBQT) options ---
    use3d_downloader = false

    // Downloader Options
    skip_download = true
    smiles_file = '' // use --smiles_file for dynamic usage
    pdbqt_file = '' // use --pdbqt_file for dynamic usage

    // Docking Options
    receptor = '../data/protein5TBM_prepared.pdbqt'
    override = false // overwrites if same file docked before otherwise skips.
    exhaustiveness = 32
    center_x = -13.02726936340332
    center_y = -22.765233993530273
    center_z = 21.719926834106445
    size_x = 60.0
    size_y = 60.0
    size_z = 60.0
    num_modes = 9
    energy_range = 3.0
}

process {
    withName: DOWNLOAD_SMILES {
        maxForks = 1        // Only one download at a time
        maxRetries = 5      // Retry if we get a 503
        errorStrategy = 'retry'
        // container = null // uncomment unless you dont want to use container
    }
    withName: DOWNLOAD_PDBQT_AND_UNZIP {
        maxForks = 1        // Only one download at a time
        maxRetries = 5      // Retry if we get a 503
        errorStrategy = 'retry'
        // container = null // uncomment unless you dont want to use container
    }
}
